/target
/pkg/
/presentation/target/
/presentation/auto/
/presentation/_minted-*/
/presentation/demo/*/external
/presentation/demo/*/degasolv-lock.txt
/presentation/demo/pyfrontend/ve/
/presentation/demo/pyfrontend/external/
/presentation/demo/pyfrontend/product/
/presentation/demo/nas/
/docs/_build/
/.nrepl-history
/test-data/
/buildutils/boot
/*.dscard
/*.dsrepo
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/.ve/

*.zip
cmake/
*.so

# Vagrant
.vagrant/

# editor files
.#*
.*#
\#*
*~
.*.sw[a-z]
