/target
/pkg/
/presentation/target/
/presentation/auto/
/presentation/_minted-*/
/presentation/demo/*/external
/presentation/demo/*/degasolv-lock.txt
/presentation/demo/pyfrontend/ve/
/presentation/demo/pyfrontend/external/
/presentation/demo/pyfrontend/product/
/presentation/demo/nas/
/artifactory-plugin/*.dscard
/artifactory-plugin/*.dsrepo
/artifactory-plugin/*.jar
/docs/_build/
/docs/_static/
/docs/_template/
/.nrepl-history
/test-data/
/test/resources/data/grill/
/test/resources/data/meta/
/test/resources/data/test-search-strat/
/test/resources/data/test-version-comparison/
/test/resources/test-data/
/test/resources/data/test-option-packs/
/buildutils/boot
/*.dscard
/*.dsrepo
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
*.deb
*.rpm
/.lein-*
/.nrepl-port
.hgignore
.hg/
/.ve/
build.xml

*.zip
cmake/
*.so

# Vagrant
.vagrant/

# editor files
.#*
.*#
\#*
*~
.*.sw[a-z]
