/target
/docs/_build/
/.nrepl-history
/test-data/grill/
/buildutils/boot
/*.dscard
/*.dsrepo
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/.ve/

*.dscard
*.dsrepo

# editor files
.#*
.*#
\#*
*~
.*.sw[a-z]
